body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#webcam , #output
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotionNam1 ,#emotionNam2  
{
  color: black;
}
.emotionNam
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 8px;
}

label{
background-color: aliceblue;
font-size: 12px;
color: blueviolet;
padding: 6px;
border-radius: 9px;
}